site_name: xxrjun/cs-resources
site_author: xxrjun

repo_name: cs-resources
repo_url: https://github.com/xxrjun/cs-resources
edit_uri: edit/main/docs/

theme:
  name: material
  palette:
    - media: "(prefers-color-scheme: dark)" 
      scheme: slate
      primary: red
      toggle:
          icon: material/brightness-4
          name: Switch to light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/brightness-7 
        name: Switch to dark mode
  font:
    code: Roboto Mono
    text: Josefin Sans
  features:
    - navigation.instant
    - content.tabs.link
    - content.action.edit

markdown_extensions:
  - abbr
  - attr_list
  - pymdownx.snippets
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - def_list
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg

nav:
  - Home: index.md
  - Toolkits:
    - Development Tools: toolkits/DevelopmentTools.md
    - Daily Tools: toolkits/DailyTools.md
    - Thesis: toolkits/Thesis.md
  - Platforms:
    - Youtube Channels: platforms/YoutubeChannels.md
    - GitHub Repositories: platforms/GitHubRepositories.md
  - Programming Languages: ProgrammingLanguages.md
  - My Setup: MySetup.md

extra_css:
  - stylesheets/extra.css

copyright: >
  Copyright &copy; 2023 - present, xxrjun, All rights reserved.

plugins:
  - search
  - git-revision-date-localized:
      enable_creation_date: true
  - git-committers:
      repository: xxrjun/cs-resources
      branch: main